.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    margin: auto;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #007bff;
}

form {
    margin-left: auto;
    margin-right: auto;
}

label {
    margin-bottom: 8px;
    color: #495057;
}

input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f8f9fa;
    color: #495057;
}

button {
    margin-top: 15px;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

#log_in {
    background-color: #00650e;
}

button.sub

button:hover {
    background-color: #0056b3;
}